# Dependencies
node_modules
npm-debug.log*

# Testing
coverage
.nyc_output

# Next.js
.next/
out/

# Production
build
dist

# Misc
.DS_Store
*.pem

# Debug
*.log
logs

# Local env files
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Git
.git
.github
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
*.md
!README.md

# CI/CD
.gitlab-ci.yml
.travis.yml
.circleci
